*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    Font-size: 15px;
    font-family: Outfit;
    font-weight: 400;
    text-align: center;
    color: #64748b;
    background-color: #cbd5e1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content {
    border: solid 1px #f8f7f7;
    background-color: #fff;
    width: 250px;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.content div,
img {
    margin-bottom: 16px;
}

img {
    width: 215px;
    height: auto;
    border-radius: 8px;
}

.attribution {
    margin-top: auto;
    border: solid 2px #f0eeee;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
}
